// src/css/quasar.variables.scss

$primary : var(--primary);
$secondary : var(--secondary);
$accent : #E0F3FE;

$dark : #1d1d1d;
$dark-page : #121212;

$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;